DATABASE_URL=

ACCESS_TOKEN_SECRET=very-very-secret
ACCESS_TOKEN_EXPIRATION=7d

REFRESH_TOKEN_SECRET=very-very-secret-secret
REFRESH_TOKEN_EXPIRATION=30d

ADMIN_EMAIL=
ADMIN_USERNAME=
ADMIN_PASSWORD=
